body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background: linear-gradient(180deg, #d53369 0%, #daae51 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
    color: whitesmoke;
    font-size: 120px;
    text-align: center;
    font-family: 'Marck Script', cursive;
    margin: 20px;
}

main{
    width: 60%;
    margin: 0 auto;
    background-color:#ECC8AF;
    border-radius: 10px;
    position: relative;
}

#win-container{
    background-color:#ECC8AF;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}

button{
    background-color: #d53369;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
}


#brick-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
    perspective: 1000px;
}

.brick{
    width: 125px;
    height: 125px;
    margin:5px;
    position: relative;
    margin-bottom: 10px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.brick:active{
    transform: scale(0.95);
    transition: transform .5s;
}

.brick.flip{
    transform: rotateY(180deg);
}

.back, 
.front{
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
}

.front{
    transform: rotateY(180deg);
}
